{
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "printWidth": 80,
  "overrides": [
    {
      "files": ["*.css", "*.scss", "*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
